/* Google Font*/
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Poppins:wght@300;400;500&display=swap");

body {
  background: #000;
}
.btn {
  margin-top: 2rem;
  width: 150px;
  padding: 12px;
  color: #fff;
  background: tomato;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background: rgba(212, 48, 48, 0.76);
  transition: 0.4s;
}


  .card {
    width: 300px;
  }

.header .navbar a {
  font-size: 1.1rem;
  margin: 0 1rem;
  color: #fff;
}
.header .navbar a:hover {
  color: #baa6cf;
}


